/drive
/datastore
/temp
/source/lib/api_keys.json
*.pyc
*.lyx~
*.lyx#
*.RDS
*.RData
*.Rhistory
*.Rapp.history
*.DS_Store
*.aux
*.fls
*.lof
*.lot
*.nav
*.snm
*.toc
*.out
*.svn
*.m~
*.bbl
*.blg
*.handout.pdf
*.handout.lyx
*.synctex.gz
*.ipynb*
*.err
*.sbatch
